<mat-toolbar color="primary"  fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex >
      <button mat-button routerLink="/" routerLinkActive="active">Home</button>
      <button mat-button routerLink="/dashboard" routerLinkActive="active" *ngIf="authd">Dashboard</button>
      <button mat-button routerLink="/facility" routerLinkActive="active" *ngIf="authd">Facility</button>
      <button mat-button routerLink="/about" routerLinkActive="active">About</button>
      <button mat-button routerLink="/contact" routerLinkActive="active">Contact</button>
    </div>
    <div>
      <button mat-button routerLink="/logout" routerLinkActive="active" *ngIf="authd">Logout</button>
      <button mat-button routerLink="/login" routerLinkActive="active" *ngIf="!authd">Login</button>
      <button mat-button routerLink="/register" routerLinkActive="active" *ngIf="!authd">Register</button>
    </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
