<mat-toolbar color="primary"  fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex >
      <button mat-button routerLink="/" routerLinkActive="active">Home</button>
      <button mat-button routerLink="/about" routerLinkActive="active">About</button>
      <button mat-button routerLink="/contact" routerLinkActive="active">Contact</button>
    </div>
    <div>
      <button mat-button routerLink="/login" routerLinkActive="activev">Login</button>
      <button mat-button routerLink="/register" routerLinkActive="activev">Register</button>
    </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
